{% extends "ToDoListBundle::layout.html.twig" %}

{% block title "Symfony - Registration form" %}

{% block content %}
    <h1>Registration Complete!</h1>
    <p>Now <a href="{{ path('_user_login') }}">Login</a> with your credentials.</p>
{% endblock %}
